header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: cornflowerblue;
}

nav ul{
    display: flex;
    justify-content: right;
}

nav li{
    margin-right: 10px;
    text-decoration: none;
}
nav a{
    color: darkblue;
    text-decoration: none;
}

nav a:hover, nav a:focus{
    border-bottom: 3px solid darkblue;
}


.work img{
    border: 5px solid #555;
}