:root{
    --margleft: 10px;
    --textbackground: rgba(255, 255, 255, 0.822);
}
.aboutme, .contact-info, .resume, #work, .work{
margin-left: var(--margleft);
}
html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1%;
    background-color: cornflowerblue;
    background-image: url(/assets/images/background-design-trends.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


nav ul{
    display: flex;
    /* justify-content: right; */
}

nav li{
    margin-right: 10px;
    text-decoration: none;
}
nav a{
    color: darkblue;
    text-decoration: none;
}

nav a:hover, nav a:focus{
    border-bottom: 3px solid darkblue;
}
body{
    background-image: url(/assets/images/background2.jpg);
    background-repeat: repeat;
}

p{
    background-color: var(--textbackground)
}

.work{
    display: flex;
    /* flex:1 1; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1050px;

}

.work img{
    border: 5px solid darkblue;
    /* max-width: 100%; */
    flex: 1;
}

#img1{
    max-width: 100%;
    flex: 2;
}

.contact-info ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--textbackground);
}